<div style='height: 5rem; width: 100%'></div>

<ul class='genre'>
  <%= form_tag '/index', method: :get do %>
    <%= select_tag "genre", options_for_select(@venue_info.genres)%>
    <div id="slider"></div>

    <label for=price-start">Price Start:</>
    <input id="price-start" type="number" />
    <label for=price-start">Price End:</>
    <input id="price-end" type="number" />

    <input type="text" class="datepicker" id="date">

    <%= submit_tag 'Filter' %>
  <% end %>
</ul>

<div class='events-container'>
  <div class='col s12'>
  <% @venue_info.events.each do |event| %>
    <div class='events-row'>
    <div class='z-depth-4 events-card'>
      <div style='position: relative'>
        <div class='events-image-container'>
            <img src='https://lorempixel.com/100/200/nightlife' style='width: 100%'>
        </div>

        <div class='events-content-container'>
          <div class='title-box red lighten-2 events-title-box'>
            <h5 class='events-title'><%= event.name %></h5>
            <em class='events-genre'><%= event.genre %></em>
          </div>
          <div class='events-info-box'>
            <div class='events-info-text'>
              <%= event.date %>
            </div>
            <div class='events-info-text'>
              <%= event.venue[:name] %><br>
              <%= event.venue[:address] %><br>
              <%= event.venue[:city]%>, <%= event.venue[:state] %>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  <% end %>
  </div>
</div>
