<div style='height: 5rem; width: 100%'></div>

<div class='events-container'>
  <ul class='genre'>
    <%= form_tag '/index', method: :get do %>
      <%= select_tag "genre", options_for_select(facade.genres)%>
      <div id="slider"></div>

      <label for=price-start">Price Start: </>
      <input id="price-start" name="minPrice" type="number" value="<%= facade.priceMin %>"/>
      <label for=price-start">Price End:</>
      <input id="price-end" name="maxPrice" type="number" value="<%= facade.priceMax %>" />

      <input type="text" class="datepicker" id="date" name="date" value="<%= facade.date %>" />

      <%= submit_tag 'Filter' %>
    <% end %>
  </ul>

  <div class='col s12'>
  <% facade.events.each_with_index do |event, n| %>
    <div class='events-row'>
      <button class='modal-trigger' style='margins: 0; padding: 0; border: 0; width: 100%; background: transparent' data-target='modal<%= n %>'>
      <div class='z-depth-4 events-card'>
        <div style='position: relative'>
          <div class='events-image-container'>
              <img src='https://lorempixel.com/100/200/nightlife' style='width: 100%'>
          </div>

          <div class='events-content-container'>
            <div class='title-box red lighten-2 events-title-box'>
              <h5 class='events-title'><%= event.name %></h5>
              <em class='events-genre'><%= event.genre %></em>
            </div>
            <div class='events-info-box'>
              <div class='events-info-text'>
                <%#= event.date %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </button>
    </div>

    <%= render partial: 'show', locals: {event: event, n: n} %>
  <% end %>
  </div>
</div>

