<!DOCTYPE html>
<html>
  <head>
    <title>CheeksNSeats</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to 'Home', root_path %>
      <%= link_to 'Register', '/register' unless current_user %>
      <%= link_to 'Sign In', '/login' unless current_user %>
      <% if current_user %>
        <%= link_to 'Log out', '/logout' %>
        <%= link_to 'Profile', '/profile' %>
        <p>Logged in as <%= current_user.name %>.</p>
      <% end %>
    </nav>

    <section class="flash-message">
      <% flash.each do |type, message| %>
        <p><%= message %></p>
      <% end %>
    </section>

    <%= yield %>
  </body>
</html>
