<!DOCTYPE html>
<html>
  <head>
    <title>CheeksNSeats</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'/>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style='width: 100%; height: 100vh; background: #9e9e9e'>
    <nav class='z-depth-3' style='position: fixed; height: 4rem; z-index: 999'>
      <a href='#' class='brand-logo left'>Cheeky Bois</a>
      <ul id='nav-mobile' class='right'>
        <li><a href='#' style='font-size: 2rem'>Login</a></li>
        <li><%= link_to 'Register', register_path %></li>
      </ul>
    </nav>

    <section class="flash-message">
      <% flash.each do |type, message| %>
        <p><%= message %></p>
      <% end %>
    </section>
    <%= yield %>
  </body>
</html>
